# --- General / OS ---
.DS_Store
.AppleDouble
.LSOverride
Icon?
Thumbs.db
*.sw?
*.log
*.local
*.env
*.env.*
!.vscode/extensions.json
.vscode/*
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.python-version
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
*.pbp.pbtxt
*.nmspkg



.gradle/
local.properties
*.keystore
*.jks
.cxx/
*.apk
*.aab


DerivedData/
*.moved-aside
*.xcuserstate
*.xcworkspace/xcuserdata/
Pods/
!Podfile
!Podfile.lock


node_modules/
dist/
dist-ssr/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*.pem
*.key
certs/
secrets.json
*.sqlite3
*.db
dump.rdb


.terraform/
*.bak
*.tmp
*.temp